<head>
  {{with .Params.password_protected}}
  <script>
    function getCookie(name) {
      var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return v ? v[2] : null;
    }

    function setCookie(name, value, days) {
      var d = new Date();
      d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * days);
      document.cookie = name + "=" + value + ";path=/;expires=" + d.toGMTString();
    }

    let cookie = getCookie('honestwork');
    if (!cookie) {
      const password = window.prompt("What's the password?");
      if (password === 'emmet2020') {
        setCookie('honestwork', true, 7);
      } else {
        window.location = '/unauthorised';
      }
    }
  </script>
  {{end}}
  <!-- <title>Honest Work{{if .Params.title}} - {{.Params.title}}{{end}}</title> -->
  <title>Honest Work</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600">
  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/honestwork.css">
</head>