<p>
    <a href="https://www.facebook.com/Honest-Work-106775901054948/" target="_blank" style="display:inline-block; width: 32px; margin-right:12px;" title="HonestWork Facebook">
      {{- partial "facebook.html" -}}
    </a>
    <a href="https://twitter.com/honestwork4all" target="_blank" style="display:inline-block; width: 32px; margin-right:12px;"
      title=" Twitter">
      {{- partial "twitter.html" -}}
    </a>
    <a href="https://www.linkedin.com/company/honest-work/" target="_blank" style="display:inline-block; width: 32px;"
      title="HonestWork LinkedIn">
      {{- partial "linkedin.html" -}}
    </a>
  </p>