{{ define "main" }}

{{ $sectionNumber := 0 }}

<div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll"
  data-options='{direction: "normal"}'>
  <div class="divimage dzsparallaxer--target" style="height: 130%; background-image: url('{{.Params.header_image}}');">
  </div>
  <div class="container text-center u-space-4">
    <div class="w-lg-50 mx-auto mb-3">
      <h1 class="display-3 font-size-48--md-down text-white font-weight-bold"
        style="text-shadow: 0px 0px 15px rgba(0,0,0,1);">
        {{.Params.title}}
      </h1>
    </div>
  </div>
</div>

<div class="container u-space-1-top u-space-2-top--md u-space-1-top--lg u-space-3-bottom">

  <div class="row">
    <div class="col-lg-{{ if .Params.show_sub_navigation }}9{{else}}12{{end}} order-lg-2 mb-9 mb-lg-0">

      {{ if .Params.content }}
      <article class="row mb-4">
        <div class="col-12">
          {{.Params.content | markdownify}}
        </div>
      </article>
      {{end}}

      {{ range .Params.sections}}
      <article class="row mb-4">

        {{$sectionNumber = add $sectionNumber 1}}

        {{ if (eq .template "block-heading") }}
        <div class="col-12 {{.template}}">
          <h2>{{.heading}}</h2>
        </div>
        {{end}}

        {{ if (eq .template "block-text") }}
        <div class="col-12 {{.template}}">
          {{.content | markdownify}}
        </div>
        {{end}}

        {{ if (eq .template "block-image") }}
        <div class="col-12 {{.template}}">
          <img src="{{.image}}" class="img-fluid w-100 rounded" alt="{{.Params.title}}">
        </div>
        {{end}}

        {{ if (eq .template "block-table") }}
        <div class="col-12 table-responsive {{.template}}">
          <table class="table">
            <thead class="thead-light">
              <tr>
                {{ range $index, $element := .header_columns }}
                <th scope="col">{{.column}}</th>
                {{end}}
              </tr>
            </thead>
            <tbody>
              {{ range $index, $element := .rows }}
              <tr>
                {{ range $index, $element := .columns }}
                <td>{{.column}}</td>
                {{end}}
              </tr>
              {{end}}
            </tbody>
          </table>
          {{if .footer}}
          <p style="font-size:75%">{{.footer}}</p>
          {{end}}
        </div>
        {{end}}

        {{ if (eq .template "block-faq") }}
        <div class="col-12 {{.template}}">
          <div id="basics">
            {{ with .title}}
            <div class="mb-3">
              <h3 class="text-primary font-weight-bold">{{.}}</h3>
            </div>
            {{end}}
            <div id="basicsAccordion-{{$sectionNumber}}">
              {{ range $index, $element := .faq }}
              {{ $faqPointer := printf "%d-%d" $sectionNumber $index }}
              <div class="card mb-3">
                <div class="card-header u-card-header" id="basicsHeading{{$faqPointer}}">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn p-3 collapsed"
                      data-toggle="collapse" data-target="#basicsCollapse{{$faqPointer}}" aria-expanded="true"
                      aria-controls="basicsCollapse{{$faqPointer}}">
                      {{.question}}
                      <span class="u-card-btn__arrow">
                        <span class="fa fa-arrow-down small"></span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="basicsCollapse{{$faqPointer}}" class="collapse" aria-labelledby="basicsHeading{{$faqPointer}}"
                  data-parent="#basicsAccordion-{{$sectionNumber}}">
                  <div class="card-body u-card-body">
                    {{.answer | markdownify}}
                  </div>
                </div>
              </div>
              {{end}}
            </div>
          </div>
        </div>
        {{end}}

        {{ if (eq .template "block-registration") }}
        <div class="w-40 mx-auto {{.template}}">
          <form id="blockForm-{{$sectionNumber}}" class="js-validate js-form-message"
            action="https://formspree.io/xjvabvek" method="POST">
            {{ range $index, $element := .fields }}
            <div class="form-group text-center">
              <label class="h6 small d-block text-uppercase" for="exampleInputEmail1">{{.}}</label>
              <input name="{{. | lower}}" type="text" class="form-control" placeholder="Enter {{. | lower}}" required />
            </div>
            {{end}}
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">Submit</button>
            </div>
          </form>
          <div id="blockFormThankYou-{{$sectionNumber}}" class="alert alert-success d-none" role="alert">
            {{ .thank_you_message }}
          </div>
          <div id="blockFormError-{{$sectionNumber}}" class="alert alert-danger d-none" role="alert">
            An error occurred, please try again
          </div>
          <script type="text/javascript">
            function submit(ev) {
              ev.preventDefault();
              $('#blockFormError').addClass('d-none');
              const form = ev.target;
              const data = new FormData(form);
              const xhr = new XMLHttpRequest();
              xhr.open(form.method, form.action);
              xhr.setRequestHeader("Accept", "application/json");
              xhr.onreadystatechange = () => {
                if (xhr.readyState !== XMLHttpRequest.DONE) {
                  return;
                }
                if (xhr.status === 200) {
                  $('#blockForm-{{$sectionNumber}}').hide();
                  $('#blockFormThankYou-{{$sectionNumber}}').removeClass('d-none');
                } else {
                  $('#blockFormError-{{$sectionNumber}}').removeClass('d-none');
                }
              };
              xhr.send(data);
            }
            const form = document.getElementById('blockForm-{{$sectionNumber}}');
            form.onsubmit = submit;
          </script>
        </div>
        {{end}}

      </article>
      {{ end }}
      <div class="u-space-2-bottom"></div>
    </div>

    {{ if .Params.show_sub_navigation }}
    <div id="stickyBlockStartPoint" class="col-lg-3 order-lg-1">
      <div class="js-sticky-block" data-has-sticky-header="true" data-offset-target="#logoAndNav" data-sticky-view="lg"
        data-start-point="#stickyBlockStartPoint" data-end-point="#stickyBlockEndPoint" data-offset-top="32"
        data-offset-bottom="170">
        <ul class="list-unstyled mb-0">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
          <li class="mb-3">
            <a class="u-info-v1 p-4" href="{{ .URL }}">
              <span class="row justify-content-sm-between align-items-sm-center">
                <span class="col-9 mb-2 mb-sm-0 {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                  {{ .Name }}
                </span>
                <span class="col-3 text-primary text-sm-right">
                  <span class="fa fa-arrow-right small ml-2"></span>
                </span>
              </span>
            </a>
          </li>
          {{ range .Children }}
          <li class="mb-3">
            <a class="u-info-v1 p-4" href="{{ .URL }}">
              <span class="row justify-content-sm-between align-items-sm-center">
                <span class="col-9 mb-2 mb-sm-0 {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                  {{ .Name }}
                </span>
                <span class="col-3 text-primary text-sm-right">
                  <span class="fa fa-arrow-right small ml-2"></span>
                </span>
              </span>
            </a>
          </li>
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
    {{end}}

  </div>
</div>

<div id="stickyBlockEndPoint"></div>

{{ end }}